header {
  background-color: #F0EFE9;
  padding: 16px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.container .menu-bars {
  font-size: 25px;
  border: none;
  background: transparent;
}
@media (min-width: 992px) {
  .container .menu-bars {
    display: none;
  }
}
.container .menu {
  display: none;
  flex: 1;
  gap: 20px;
}
@media (min-width: 992px) {
  .container .menu {
    display: block;
  }
}
.container .menu .top-menu {
  display: flex;
  border-bottom: 1px solid #DBDAD5;
  padding-bottom: 10px;
}
.container .menu .top-menu .contact-information {
  display: flex;
}
.container .menu .top-menu .contact-information .content-box {
  margin-right: 30px;
  padding-right: 20px;
  border-right: 1px solid #DBDAD5;
}
.container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
.container .menu .media {
  gap: 20px;
}