@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html,body{
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
footer{
    
    
    background-color: #0E1021;
    
}

.dots{
    text-align: center;
        
    a{
        padding:5px;
        i{
            color: #b6b6b6;
            &:hover{
            color: #191919;
            }
        }
            
    }
        
}

.wrapper-grid{
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.streck{
    border: 1px solid black;  
    margin-top: 25px;
    margin-bottom: 30px;
    width:15%
}
.btn-yellow{
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;  
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;

    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #d5d3d3;

    }
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;  
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;

    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #d5d3d3;

    }
}
.btn-long{
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;  
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 600;
    
    

    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #d5d3d3;

    }
}
header{
    background-color: #F0EFE9;
    .container{
        
        padding: 16px;
        display:grid;
        
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:    "logo bars";
                                
        @media(min-width:992px){
            
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
                                        
        }
        .btn-menubars{
            grid-area: bars;
            font-size: 25px;
            border:none;
            background: transparent;
            @media (min-width:992px){
                display:none;
            }
        }
        
       .logotype{
            grid-area: logo;
            margin-right: 40px;
            
            
       }
       .contactinformation-bar{
            grid-area: cib;
            display:none;
            justify-content: flex-start;
            align-items: center;
         
            @media (min-width:1200px){
                display:flex;
                
            }
            .content-box{
                margin-right: 30px;
                padding-right: 20px;
                border-right: 1px solid #DBDAD5;
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                font-weight: 300;
                                                                        
                i{
                    margin-right: 5px;
                    font-size: 1.2em;
                    color:#707070
                }
                                                                        
                &.last{
                    border: none;
                                                                        
                }
            }
       } 
       .socialmedia-bar{
            grid-area: social;
            display:none;
            
            @media (min-width:992px){
                
                display:block;
                a{
                    color:#191919;
                    font-size: 1.3rem;
                    margin-left: 10px;
                        
                    &:hover {
                     color: #666666;
                    }
                }    
                
    
                
            }
       }
       .menu{
            grid-area: menu;
            border-top: 1px solid #DAD9D3;
            display:none;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            padding-top: 10px;
            @media (min-width:992px){
                display:flex;
            }
        }
        nav{
            a{
                display:inline-block;
                color: #191919;
                text-decoration: none;
                margin-right: 35px;
                position: relative;

                &.active {
                    font-weight: 500;
                }
                &.active:after,
                &:hover::after {
                    content: '';
                    position: absolute;
                    font-weight: 500;
                    height: 2px;
                    width: 15px;
                    background-color: #191919;
                    left: 50%;
                    bottom: -3px;
                    transform:translate((calc(50% - 15px)));

                }
            }
        }
       

    }
   
    
}
.section-title{
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width:768px){
        padding-top: 120px;
        padding-bottom: 90px;
    }
    p{
        color:#f94d1c;
        font-weight: 700;
    }
    h2{
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}
.showcase{
    background-color: #F0EFE9;
    


    .container{
        display:flex;
        align-items: center;
        justify-content: center;

        .content {
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
            
            p{
                padding-top: 35px;
                padding-bottom: 35px;
                font-size: 20px;
                
            }
            h1{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 30px;
                
                @media (min-width:375px){
                    font-size: 40px;
                }

                @media (min-width:1200px){
                    font-size: 70px;
                }

                
                
            }
            a{
               margin-right: 10px; 
               margin-bottom: 10px;
               padding-top: 15px;
               padding-bottom: 15px;
               font-size: 16px;
               display: block;
               border: 1px slid black;
               margin-left: 10px;
               margin-right:10px;

                @media (min-width:375){

                }
               
                
                @media (min-width:1200px){
                    font-size: 16px;
                    display:inline-block;
                    
                }
               
            }
            
        }
        img{
            display:none;

            @media (min-width:1200px){
                display:block;
            }

        }
    }

}
.logo{
    .container{
        display:none;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;

        
    }
    @media (min-width:1200px){
        .container{
            display:flex;
        }
    }
    
    
    
}
.features{

    padding-bottom: 10px;
    @media (min-width:376px){
        .features{
            padding-bottom: 80px;
        }
    }   
    .container{

        padding:60px;
        border: 1px solid #DBDAD5;
        gap: 40px;
        display: flex;
        justify-content: center;
        
        .content-lada{
            display:flex;
            flex-direction: column;
            margin: 10px;
        
            h5{
                font-size:45px;
                font-weight: bold;
                font-family: 'DM Sans', sans-serif;
                color: #191919;
                text-align: center;
                @media (min-width:376px){
                    text-align: start;
                }
                
            }
            .long{
                // innan
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
                text-align: center;
                margin-top: 50px;
                display: block;
                // efter
                @media(min-width: 1200px){
                    margin-left: 0;
                    margin-right: 0;
                }
                
            }
            .highlight-text{
                color: #F94D1C;
                font-size: 20px;
                font-weight: bold;
            }       
        }

        .content{

            margin:50px;
            display:none;
            flex-direction: column;
            
            
            .content-box{
                i{
                    font-size: 40px;
                    color: #191919;
                    margin-bottom: 20px;
                    
                }
                h6{
                    font-size: 22px;
                    font-weight: bold; 
                    
                }
                
            }
        }
        @media (min-width:1200px){
            .content{
                display:flex;
            }
        }

    }
    
                
}
.about-company{

    .container{
        
        padding:10px;
        gap:150px;
        display:flex;
        justify-content: center;

        
        img{
            display:none;
            @media (min-width:1200px){
                
                    display:block;
                    
                }
        }
        
        
        }
        .content{
            padding:20px;
            display:flex;
            flex-direction: column;
            text-align: center;
        }
        @media (min-width:1200px){
            .content {
                text-align: left;
            }
        }
        a{
            display:inline-block;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 30px;
        }
        .highlight-text{
            margin-top: 30px;
            margin-bottom: 30px;
                
        }
        h1{
            font-size: 45px;
            font-weight: bold;
        }
        h2{
            color: #F94D1C;
            font-weight: bold;
        }
        
        
        
        .rap{
            display:flex;
            justify-content: center;
            align-items: center;
            gap:20px;
            
            span{
                display:none;
                
                @media (min-width:391px){
                    display:flex;
                }
            }
            
            .learn-more{
                color: white;
                background-color: #191919;
                border: 1px solid #191919;
                padding-left: 40px;
                padding-right: 40px;
                margin:0;
                margin-right: 25px;

                &:hover {
                    background-color: #ffffff;
                    border: 1px solid #191919;
                    color: #000000;
            
                }
                
                
             }
            .liten-lada{
                width: 60px;
                height:60px;
                border: 1px solid #191919;
                display: none;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-align: center;
                color: #191919;
                text-decoration: none;
                margin:0;

                &:hover {
                background-color: #F9D783;
                border: 1px solid #ffffff;
                color: #000000;

                .knapp{
                    color: #191919;
                }
     
            }
            @media(min-width: 391px){
                display:flex;
            }
        }
        
    }
    @media (min-width:376px){
        .container{
            
            padding:60px;
        }
    }         
}

.our-services {
    background: #f0efe9;

    .container {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .bta{
        margin-left: auto;
        margin-right: auto;
    }
    .bta a{
        display:flex;
        align-items: center;
        margin: 40px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        @media (min-width:1200px){
            display:none;
        }
       
    }
    
    .ensam-knapp {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    .extra {
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-text {
        margin-top: 100px;
        margin-bottom: 30px;

        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #f94d1c;
        }

        h1 {
            font-weight: bold;
        }
    }

    .stor-box {
        display: none;
        margin: 10px;
        gap: 20px;

        .box1 {
            width:25%;
            background: white;
            padding: 40px;
            
            

            .box1-knapp {
                background-color: #191919;
                width: 60px;
                height: 60px;
                border: 1px solid #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-align: center;
                color: #191919;
                text-decoration: none;
                margin: 0;
                margin-left: auto;
                
                i {
                    color: white;
                    font-size: 20px;
                }
                a{
                    &:hover{
                        background-color: #EDCF87;
                    }
                }

                
            }
            &:hover{
                background-color: #EDCF87;
            }
        }

        .box2 {
            width:25%;
            background-color: white;
            padding: 40px;

            .box2-knapp {
                width: 60px;
                height: 60px;
                border: 1px solid #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-align: center;
                color: white;
                text-decoration: none;
                margin: 0;
                margin-left: auto;
                background: #191919;
                border: none;
                i {
                    font-size: 20px;
                }
            }
            &:hover{
                background-color: #EDCF87;
            }
                
 
        }
        .box3 {
            width:25%;
            background: white;
            padding: 40px;

            .box3-knapp {
                background-color: #191919;
                width: 60px;
                height: 60px;
                border: 1px solid #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-align: center;
                color: #191919;
                text-decoration: none;
                margin: 0;
                margin-left: auto;

                i {
                    color: white;
                    font-size: 20px;
                }

                
            }
            &:hover{
                background-color: #EDCF87;
            }
        }
        

        .box4 {
            width:25%;
            background: white;
            padding: 40px;

            .box4-knapp {
                background-color: #191919;
                width: 60px;
                height: 60px;
                border: 1px solid #191919;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-align: center;
                color: #191919;
                text-decoration: none;
                margin: 0;
                margin-left: auto;

                i {
                    color: white;
                    font-size: 20px;
                }

                
            }
            &:hover{
                background-color: #EDCF87;
            }
        }
    }

    @media (min-width: 1200px) {
        .stor-box {
            display: flex;
        }
    }
}
.Why-choose-us{
    
    .container{
        padding:60px;
        display:flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 10px;
        gap: 60px;
        
        
        
        .box1{
            
            width: auto;
            text-align: center;
            display:flex;
            flex-direction: column;
            justify-content: center;
            @media (min-width:1200px){
                text-align: left;
            }
            .huvud-text{
                
                
                
                h2{
                    font-size: 20px;
                    padding-bottom: 20px;
                    padding-top: 20px;
                    color: #F94D1C;
                    
                }
                h1{
                    padding-bottom: 20px;
                    padding-top: 20px;
                    font-size: 40px;
                    font-weight: bold;
                }
            }

        }    
        .box2{
            width: 60%;
            height: auto;
            display:none;
            
            @media (min-width:1200px){
                display:block;
            }
            .over{
                
                height: 60%;
                
                
                img{
                    
                    padding-left: 50px;
                    padding-top: 50px;
                }
                
                
            }
            .under{
                height:40%;
                background: #f0efe9; 
                width: 1157px;

            }

        }    

    }
    
}
.project-and-case{
    .container{
        .knapp{
            
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;
            .btn-yellow{
                padding:20px 30px 20px 30px;
                border: 1px solid black;;
                background-color: #191919;
                color:white;

                &:hover{
                    background-color: white;
                    color: #191919;
                }
            }
        }
        .section-title{
            
            text-align: center;
            padding-top: 40px;
            @media (min-width:1200px){
                padding-top: 90px;
            }
        }
        
        .project-and-cases{
            display:grid;
            grid-template-columns: 1fr;
            
            gap: 30px;

            @media (min-width:1200px) {
                grid-template-columns: 1fr 1fr;
            }


            .project{
                display:grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                text-decoration: none;
                color: #191919;
                img{
                    width: 100%;
                }
                h3{
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #DAD9D3;
                }
                .readmore{
                    padding: 15px;
                    margin-right: 15px;
                    display:block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;

                    i{
                        margin-left: 5px;
                    }
                    
                }

                &:hover{
                    .readmore{
                        text-decoration: underline;
                    }
                }
            }
            
        }
    }
}
.meet-our-team{
    background-color: #EDCF87;
    .container{
        
        .head-liner{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .knapp .btn-yellow{
            border: 1px solid black;
            padding: 20px 40px 20px 40px;
        }
        .section-title{
            padding:80px 0px 80px 0px;
        }
        .grid-content{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 20px;
            .picture-content{
                padding-bottom: 60px;
                text-decoration: none;
                color: #191919;
                img{
                    padding-bottom: 30px;
                }
                h5{
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                }
                p{
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    
                }
                &:hover{
                    text-decoration: underline;
                } 
            }
        }
        .dots{
            text-align: center;
            
            a{
               padding:5px;
                i{
                    color: #C3AB71;
                    &:hover{
                        color: #191919;
                    }
                }
                
            }
            
        }
        
    }

}  
.testimonial{
    background-color: #EDCF87;
    display:flex;
    justify-content: center;
    
    .container{
        margin:40px;
        border: 1px solid black;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        .section-title{
            text-align: center;
            padding-bottom: 30px;
        }
        .grid-content{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:     "box1 box3 box5"
                                     "box2 box4 box6";    
            
            margin:50px 0px 80px 0px;
            .box1{
                grid-area: box1;
                padding: 30px 30px 0px 30px;
                p{
                    padding:15px 15px 15px 0px;
                    
                }
            }
            .box2{
                grid-area: box2;
                img{
                    padding-right: 15px;
                }
                p{
                    color: #F94D1C;
                    font-size: 16px;
                }
            }
            .box3{
                grid-area: box3;
                padding: 30px 30px 0px 30px;
                p{
                    padding:15px 15px 15px 0px;
                }
            }
            .box4{
                grid-area: box4;
                img{
                    padding-right: 15px;
                }
                p{
                    color: #F94D1C;
                    font-size: 16px;
                }
            }
            .box5{
                grid-area: box5;
                padding: 30px 30px 0px 30px;
                p{
                    padding:15px 15px 15px 0px;
                }
            }
            .box6{
                grid-area: box6;
                p{
                    color: #F94D1C;
                    font-size: 16px;
                    font-family: 'Inter', sans-serif;
                }
                img{
                    padding-right: 15px;
                }
            }
            
            .liten-box{
                display:Flex;
                padding:0px 20px 20px 20px;
                .small-content h4{
                    font-size: 22px;
                    font-weight: 700;
                }
            }
            
            i{
                color: #F94D1C;
            }
        }
        .knapp{
            padding-bottom: 100px;
            margin:60px;
            text-align: center;
            .btn-yellow{
                padding:20px 30px 20px 30px;
                
                background-color: #191919;
                color:white;
                border: 1px solid black;

                &:hover{
                    background-color: white;
                    color: #191919;
                }
            }
        }   
    }
}
.article-and-news{
    .container{
        
        .head-content{
            
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .flex-content{
            display:flex;
            gap: 20px;
            p{
                font-size: 16px;
                padding-top: 10px;
            }
            h2{
                font-size: 22px;
                font-weight: 700;
            }
            
            
        }
        .dots{
            padding-top: 80px;
            padding-bottom: 80px;
        }
        
    }
}
.Subscribe{
    background-color: #F0EFE9;
    .container{
        
        display:flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 0px;
        h1{
            font-size: 45px;
            font-weight: 700;
            
        }
        
        .sub{
            
            display:flex;
            align-items: center;
            a{
                margin-left: 15px;
            }
            .sub-button{
                background-color: white;
                border: 1px solid white;
                color: #191919;
                text-decoration: none;  
                padding: 12px 25px;
                border-radius: 25px;
                font-weight: 600;
                .input-content{
                    border: none;

                }
            }
        }
        
    }
    .icon{
        
        display:flex;
        justify-content: end;

        
    }
}
footer{
    .footer-content{
        border-bottom: 1px solid #2b2b2b;
        .container{
        
            justify-content: space-around;
            padding:80px 0px 80px 0px;
            display:flex;
            gap: 40px;
            .logo-content{
                width: 25%;
                align-items: center;
                p{
                    padding-top: 5px;
                    color: #b6b7bc;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;
                }
                
            }
            .links-content{
                
                display:flex;
                flex-direction: column;
                h2{
                    color: white;
                    font-size: 22px;
                    font-weight: 700;
                }
                a{
                    padding-top: 20px;
                    text-decoration: none;
                    color: #b6b7bc;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;
                }
                .links-content .company{
    
                }
            }
        }

    }
    .copyright-content{
        .container{
            .copyright{
                display:flex;
                justify-content: space-between;
                padding-top: 25px;
                padding-bottom: 25px;
                p{
                    color: #b6b7bc;
                }
                .socialmedia-bar{
                    a{
                        color: white;
                        font-size: 1.3rem;
                        margin-left: 10px;
                            
                        &:hover {
                         color: #666666;
                        }
                    }    
                }
            }
        }
    }
    
    

}

// Här börjar contract

.Lets-connect{
    background-color: #F0EFE9;
    .container{
        text-align: center;
        nav{
            padding: 40px;
            a{
                display:inline-block;
                color: #191919;
                text-decoration: none;
                margin-right: 35px;
                position: relative;

                &.active {
                    font-weight: 500;
                }
                &.active:after,
                &:hover::after {
                    content: '';
                    position: absolute;
                    font-weight: 500;
                    height: 2px;
                    width: 15px;
                    background-color: #191919;
                    left: 50%;
                    bottom: -3px;
                    transform:translate((calc(50% - 15px)));

                }
            }
        }
        h1{
            padding:0px 0px 40px 0px;
            color: #191919;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 45px;
        }
    }
}
.leave-message{
    .container{
        display:flex;
        justify-content: center;
        gap: 20px;
        padding-top: 80px;
        padding-bottom: 80px;
        .box1{
            color: #191919;
            text-decoration: none;
            padding:40px;
            border: 2px solid rgb(231, 231, 231);
            display:flex;
            .content{
                padding-left: 20px;
                p{
                    margin: 0;
                }
            }
            .rund-ruta {
                width: 60px;
                height: 60px;
                background-color: #191919;
                border: 1px solid black;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display:flex;
                .icon{
                    font-size: 30px;
                    color: white;
                    
                }
                
            }
            &:hover{
                background-color: #F0EFE9;
                border: none;
            }
        }
        
    }
}
.leave-message-card{
    .container{
        background-color: #F0EFE9;
        text-align: center;
        padding:0px 100px 80px 100px;
        
        
        h1{
            padding-top: 120px;
            padding-bottom: 30px;
            font-weight: 700;
        }
        .sub{
            display:flex;
            flex-direction: column;
            
            a{
                margin-left: 15px;
            }
            .sub-button{
                background-color: white;
                border: 1px solid white;
                color: #191919;
                text-decoration: none;  
                padding: 12px 25px;
                border-radius: 25px;
                font-weight: 600;
                margin: 10px;
                
                .input-content{
                    border: none;
    
                }
            }
        }  
    }
}
.map{
    padding-top: 100px;
    
    display:flex;
    justify-content: center;
}




